$primary-dark-blue-color: hsl(238, 29%, 16%);
$primary-soft-red-color: hsl(14, 88%, 65%);

$neutral-very-dark-greyish-blue: hsl(237, 12%, 33%);
$neutral-dark-gayish-blue: hsl(240, 6%, 50%);

$background-soft-violet: hsl(273, 75%, 66%);
$background-soft-blue: hsl(240, 73%, 65%);
$dividers-color: hsl(240, 5%, 91%);

$base-font-size: 12px;
$regular-font-weight: 400;
$bold-font-weight: 700;
$font-family: 'Kumbh Sans', sans-serif;

$md-breakpoint: 768px;

html,
body {
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(180deg, $background-soft-violet, $background-soft-blue);
    height: 100%;
}

body {
    font-family: $font-family;
    font-size: $base-font-size;
    font-weight: $regular-font-weight;
    margin: 0;
}